<!DOCTYPE html>
<html>
<head>
    <title>Events</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <% include partials/nav.ejs %>
  <div id="container">
    <img id="fighter" src="/assets/images/fighter.jpg" width="350" height="200" />
    <ul id="eventsForm">
      <li><%= data.name %></li>
      <li><%= data.type %></li>
      <li><%= data.host %></li>
      <li><%= data.date %></li>
      <li><%= data.detail %></li>
      <li><%= data.time %></li>
      <div>
      <span>
      <h2>Would you like to attend?</h2>
      <form action="<%= data.conId %>/status" method="POST">
        <button id="yes" required="required" value="yes" name="button">Yes</button>
        <button id="no" required="required" value="no" name="button">No</button>
        <button id="maybe" required="required" value="maybe" name="button">Maybe</button>
        <button id="backButton"><a  href="/events">Back</a></button>
      <form>

     <!-- <input id="backButton" type="submit" value="Back" onclick="history.back(-1)" /> -->
      <br tyle="clear: both;">
   </div>



<footer>
  <% include ./partials/footer.ejs %>
</footer>
</body>
</html>
