<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <script src="DB/connectDB.js"></script>
      <title>Event interests</title>
  </head>
  <body>
    <% include partials/nav.ejs %>

       <table id="list" border="1"align="center">
         <tr action="<%= data.conId %>/status" method="POST">
           <th>Events<%= data.connectName %></th>
           <th>Details<%= data.connectHost %></th>
           <th>Going</th>
           <th>Action</th>
         </tr>
         <tr>
           <td>Wrestling</td>
            <td>WWE</td>
            <td>Maybe</td>
            <td>
              <a href="/connect/3" class="update">Update</a>
              <a href="myEvents" class="delete">Delete</a>
            </td>
         </tr>
         <tr>
           <td>Judo Tournoment</td>
            <td>World Judo Championship</td>
            <td>Yes</td>
            <td>
              <a href="/connect/3" class="update">Update</a>
              <a href="myEvents" class="delete">Delete</a>
            </td>
         </tr>
         <tr>
           <td><%= data.status %></td>
           <td><%= data.detail %></td>
           <td></td>
           <td></td>
         </tr>

       </table>
       <span id="val"</span>

  </body>
  <footer>
    <% include ./partials/footer.ejs %>
  </footer>
</html>
