<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <script src="DB/connectDB.js"></script>
      <title>Event interests</title>
  </head>
  <body class="image1">
    <% include partials/nav.ejs %>
      <h1>Saved Event Database</h1>
      <form action="/collection" method="POST">
          <table id="list" border="1"align="center">
             <tr>
                 <th>Event</th>
                 <th>Details</th>
                 <th>Going</th>
                 <th>Action</th>
               </tr>

            <% for (var i =0; i< data.length; i++){ %>
              <tr>
              <td> <%= data[i].name %> </td>
              <td> <%= data[i].details %> </td>
              <td> <%= data[i].time %> </td>
              <td> <%= data[i].going %> </td>
              <td><a href="/update/<%= data[i]._id %>" class="update">Update</a>
              <button type="submit" name="idToDel" value="<%= data[i]._id %>">Delete</button></td>
              <td> </td>
            </tr>
              <%}%>



         </table>
       </form>
         <span id="val"</span>

    </body>
  <footer>
    <% include ./partials/footer.ejs %>
  </footer>
</html>
