<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <script src="DB/connectDB.js"></script>
      <title>Event interests</title>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <div class="container">
    <div class="row">
      <section class="col-12 mt-5">
        <h3></h3>
            <div>
              <div class="col">Events</div>
              <div class="col">Details</div>
              <div class="col">Plans?</div>
              <div class="col">Actions</div>
            </div>
         
        </section>
        </div>
      </div>
    <!-- <div class="yes">
      <ul>
       <li><%= data.name %></li>
       <li><%= data.date %></li>
      </ul>
    </div>
    <div class="no">
      <ul>
        <li><%= data.name %></li>
        <li><%= data.date %></li>
      </ul>
    </div>
    <div class="maybe">
      <ul>
        <li><%= data.name %></li>
        <li><%= data.date %></li>
      </ul>
    </div> -->
  </body>
  <footer>
    <% include ./partials/footer.ejs %>
  </footer>
</html>
